<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Loan-Repayments - UFANISI</title>
        <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    </head>
    <body>
        <!--/*/ <th:block th:include="fragments/header :: body"></th:block> /*/-->
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">Loan Repayments <a th:href="@{/loanrepayments/add}" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Last Name</th>
                                    <th>First Name</th>
                                    <th>Amount Paid</th>
                                    <th>Outstanding Amount</th>
                                    <th>Paid for</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            <div th:if="!${#lists.isEmpty(loanrepayments)}">
                                <tr th:each = "loanrepayment : ${loanrepayments}">
                                    <td th:text = "${loanrepayment.id}"></td>
                                    <td th:text = "${loanrepayment.lastName}"></td>
                                    <td th:text = "${loanrepayment.firstName}"></td>
                                    <td th:text = "${loanrepayment.Amount_Paid}"></td>
                                    <td th:text = "${loanrepayment.Outstanding_Amount}"></td>
                                    <td th:text = "${loanrepayment.Paid_for}"></td>
                                    <td>
                                        <div class="btn-group" role="group" aria-label="...">
                                            <a th:href="${'/loanrepayments/view/' + loanrepayment.id}" class="btn btn-info"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                            <a th:href="${'/loanrepayments/edit/' + loanrepayment.id}" class="btn btn-success"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                                            <a th:href="${'/loanrepayments/delete/' + loanrepayment.id}" class="btn btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                                        </div>
                                    </td>
                                </tr>
                            </div>
                            <div th:if="${#lists.isEmpty(loanrepayments)}">
                                <tr>
                                    <td>No loan repayments exists!</td>
                                </tr>
                            </div>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--/*/ <th:block th:include="fragments/js :: body"></th:block> /*/-->
        <script src="../static/js/app.js" th:src="@{/js/app.js}"></script>
    </body>
</html>
